@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,800;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
}
:root{
    --font-family: 'DM Sans', sans-serif;
    --normal-font:20px
}
.navbar{
    background-color: #181818;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 1
}
.navbar .navbar-logo img{
    width: 100px;
    height: 40px;
    margin-right: 20px;
}
.navbar-item .nav-link{
    margin-left: 50px; 
    /* background-color: blue; */
    font-size: 16px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
}
.navbar-search a{
    /* background-color: antiquewhite; */
    margin-right: 10px;
    color: white;
    text-decoration: none;
    position: fixed;
    top: 10px; 
    right: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight:lighter;
}
/* Add this CSS to your existing styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}
.hidden {
    top: -100px;
}
/* header */
.box-header{
    width: 90%;
    height: 100px;
    /* background-color: aqua; */
    margin: 90px auto 20px;
}
.h1-header{
    color: #181818;
    font-size: 62px;
    line-height: 62px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px ;
    border-top: 10px solid black ;
    border-top-right-radius: 25px;
    border-right: 10px solid black ;
}
.container-info{
    width: 90%;
    height: 90px; 
    /* background-color: aqua; */
    margin: auto;
    border: 0.5px solid black;
    border-radius: 10px;
}
.container-info p{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 200;
}
/*  */
.link{
    display: block;
}
a{
    text-decoration: none;
    color: black;
}
.container {
    width: 100%; 
    /* background-color: aqua; */
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: -10px;
    margin-left: -10px;
    
}
.item-wrapper{
    border-bottom: 1px solid #949494;
    padding-bottom: 10px;
}
.f1-border{
    border-right: 2px solid #181818;
    border-top: 2px solid #181818;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-top: 40px;
    transition: 0.5s;
}
.small-box:hover .f1-border{
    margin-top: 20px;
    padding-top: 30px;
    transition: 0.5s;
    border-color: red;
}
.image{
    height: 167px;
    position: relative;
    text-align: right;
}
.image-driver{
    height: 192px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -25px;
    width: 192px;
}
.image-number{
    background-color: #fff;
    bottom: 0;
    left: 0;
    height: 55px;
    overflow: hidden;
    position: absolute;
    width: 97px;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.name-driver{
    padding-left: 15px;
    position: relative;
    width: 50%;
}
.text-top{
    font-family:  'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-transform: uppercase;
}
.text-bottom{
    font-family:  'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
.p-text{
    padding-top:15px ;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0.5;
}
/* .flag{
    border-radius: 5px;
    border: 1px solid #949498;
    height: 32px;
    overflow: hidden;
    width: 50px;
    padding-left: 10px;
}
.flag img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* footer */
.footer {
    margin-top: 50px;
    width: 100%;
    /* height: 100vh; */
    background-color: chartreuse;
}
.main-link{
    width: 100%;
    height: 80px;
    background-color: #181818;
    text-align: center;
    align-items: center;
}
.main-link p{
    color: red;
    font-size: 25px;
    background-color: #303030;
    font-family: var(--font-family);
}
.footer-link{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.footer-link:hover{
    color: red;
}
.footer-content{
    width: 100%;
    /* height: 140px; */
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    border-bottom: 1px solid #303030;
}
.footer-small-content{
    /* width: 17%;
    height: 120px; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px;
    padding: 10px 0 20px;
}
.small-footer-left{
    margin-left: 100px;
}
.small-footer-right{
    margin-right: 100px;
}
/* contact */
.contact-me{
    width: 100%;
    height: 100px;
    background-color: #000000;
}
.bottom-logo img{
    width: 140px;
    height: 60px;
    padding-top: 20px;
    padding-left: 10px;
}
/* for phone */
@media (max-width: 576px) {
    .navbar-toggler{
    background-color:#181818;
    }
    .navbar-toggler span{
    color: white;
    }
    .navbar-logo, .navbar-toggler{
    margin-top: 10px;
    }
    .navbar-collapse{
    background-color: #303030;
    border-radius: 10px;
    }
    .nav-link{
    color: #000000;
    }
    .box-header{
    width: 90%;
    height: 50px;
    /* background-color: aqua; */
    margin: 90px auto 20px;
    }
    .h1-header{
    color: #181818;
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
    font-style: normal;
    }
    .h1-header{
    border-top: 5px solid black ;
    border-top-right-radius: 25px;
    border-right: 5px solid black ;
    }
    .container-info p{
    padding: 20px 20px;
    font-size: 12px;
    font-weight: 200;
    }
    .small-footer-left, .small-footer-right{
        margin-left: 10px;
    }
    .footer-small-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 10px;
        padding: 10px 0 20px;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:767px){ 
    .navbar-toggler{
    background-color:#181818;
    }
    .navbar-toggler span{
    color: white;
    }
    .navbar-logo, .navbar-toggler{
    margin-top: 9px;
    
    }
    .navbar-collapse{
    background-color: #303030;
    border-radius: 10px;
    }
    .nav-link{
    color: #000000;
    }
    .h1-header{
    font-size: 50px;
    }
    .small-footer-left, .small-footer-right{
        margin-left: 10px;
    }
    .footer-small-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 10px;
        padding: 10px 0 20px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px){
   .navbar-toggler{
    background-color:#181818;
   }
   .navbar-toggler span{
    color: white;
   }
   .navbar-logo, .navbar-toggler{
    margin-top: 9px;
   }
   .navbar-collapse{
    background-color: #303030;
    border-radius: 10px;
   }
   .nav-link{
    color: #000000;
   }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1199px){ 
   
}
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }
